body
{
    background-image:url("../images/fondadmin.png");
    background-size: cover;
    text-align: center;
}

tr
{
    color: aliceblue;
    font-size: 25px;
}
td
{
    color: black;
    font-size: 20px;
}

ul
{
    display: inline;
}